/* declaring colors as variables */
:root{
  --mainBlue:#3282b8;
  --mainPink:#f09ae9;
  --mainBeige:#ffe4e4;
  --mainGreen:#96bb7c;
}
body{
  background-color: var(--mainBeige) !important;
  font-family: 'Source Serif Pro', serif !important;
}
.btn-black{
  border: 2px solid black !important;
}
.btn-black:hover{
  background: black !important;
  color: white !important;
  font-size:20 px
}
.cart-icon{
  cursor:pointer;
  font-size: 20px;
  color:var(--mainPink);
}
/* styling for slider */
.myslider{
  height:50%;
}